@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
}
.progressBar {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: filling 2s alternate infinite;
}

progress {
	overflow: hidden;
}
::-webkit-progress-bar {
	overflow: hidden;
	border-radius: 10px;
	border-left: #ff3d00 solid 1px;
	border-right: #00d503 solid 1px;

	background: #ffffff;
}

::-webkit-progress-value {
	border-radius: 20px;
	background: linear-gradient(90deg, #ff3d00, #00d503);
}
